# Add only extra runtime dependencies here.
# Do not pin gradio or its internal dependencies in a Gradio Space.
modal==1.4.3
hf_transfer
llama-cpp-python==0.3.19
spaces
torch
diffusers
transformers
huggingface_hub
accelerate
safetensors