# Add only extra runtime dependencies here.
# Do not pin gradio or its internal dependencies in a Gradio Space.
modal==1.4.3
hf_transfer
--extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cu124
llama-cpp-python
spaces
--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.8.0
diffusers
transformers
huggingface_hub
accelerate
safetensors